---
---

@import "{{ site.theme }}";

form{margin: 10px 0px; background: transparent; padding: 0px;}

input{
    display: block; width: 90%; margin: 5px 0px;
}
textarea{
    display: block; width: 90%; margin: 5px 0px; height: 200px;
}

.feedicon {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  background-color: #f49f0f;
  border: 6px solid #f49f0f;
  border-radius: 6px;
}
.f1, .f2, .f3 {
  position: absolute
}
.f2, .f3 {
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
.f1 {
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  bottom: 0;
  left: 0;
}
.f2 {
  width: 9px;
  height: 9px;
  border-radius: 0 13px 0 0;
  bottom: 0;
}
.f3 {
  width: 17px;
  height: 17px;
  border-radius: 0 22px 0 0;
}


