---
---

@import "{{ site.theme }}";

form{margin: 10px 0px; background: transparent; padding: 0px;}

input{
    display: block; width: 90%; margin: 5px 0px;
}
textarea{
    display: block; width: 90%; margin: 5px 0px; height: 200px;
}

.feedicon {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  background-color: #f49f0f;
  border: 6px solid #f49f0f;
  border-radius: 6px;
}
.f1, .f2, .f3 {
  position: absolute
}
.f2, .f3 {
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
.f1 {
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  bottom: 0;
  left: 0;
}
.f2 {
  width: 9px;
  height: 9px;
  border-radius: 0 13px 0 0;
  bottom: 0;
}
.f3 {
  width: 17px;
  height: 17px;
  border-radius: 0 22px 0 0;
}

body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, serif;}

header { font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif, serif;}

#main-content h1 { font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif, serif; }
#main-content h2 { font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif, serif; }
#main-content h3 { font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif, serif; }
#main-content h4 { font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif, serif; }
#main-content h5 { font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif, serif; }
#main-content h6 { font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif, serif; }

/* ▼キャプション付き画像全体を囲むボックスの装飾 */
figure {
    display: inline-block;   /* インラインブロック化 */
    margin: 0px 3px 7px 0px; /* 外側に余白を追加(※右に3px・下に7px) */
    /* background-color: #ccc;  /\* 背景色 *\/ */
}
/* ▼画像に対する装飾 */
figure img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px 0px 3px 0px; /* 下側にだけ3pxの余白を追加 */
}
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: center;      /* 中身をセンタリング */
}
